a {
    text-decoration: none;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size:1.00em;
    font-weight: normal;
    margin: -5px 0 0;
    
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

p {
  font-family: 'Comic Sans MS' 
}

#logo {
   text-align: center;
   margin: 0;
}

body {
   background-color: white;
   color: #999;
}

a {
   color: #8DD6A9;
}

header {
    background: #95BFC2;
}

h1 , h2 {
    color: #fff;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
 }
 
 .social-media-icon {
     width: 30px;
     height: 20px;
     margin: 0 5px;
 }
 
 #gallery {
     margin: 0px;
     padding: 0px;;
     list-style: none;
 }
  
 #gallery li {
     float: left;
     width: 45%;
     margin: 2.5%;
     background-color: blue; 
     color: #bdc3c7;
 }

 img {
     max-width: 100%;
 }
 
 #gallery li a p {
     margin: 0;
     padding: 5%;
     font-size: 0.75em;
     color: #bdc3c7;
 }

 nav {
    background: #599A68;
    text-align: center; 
    padding: 10px 0;
    margin: 20px 0 0;
}

nav a, nav a:visited {
   color: #fff; 
   
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

nav a.selected, nav a:hover{
    color: #F2948A;
}

.Profile-Photo {
   display: block; 
   max-width: 0 auto 30px;
   border-radius: 15%;
}

.contact-form {
    margin-left: 20em;
}